#formulario{
    border: 3px solid blue;
    width: 500px;
    padding: 20px;
}

.label{
    color: turquoise;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

input{
    left: 200px;
    position: absolute;
}

#linhas, #colunas, #simbolos{
    margin: 10px;
}

#botao{
    position: relative;
    left: 180px;
}

#desenho{
    color: blue;
    font-weight: bold;
}